$gray: #5b5b5b;
$light-gray: #e0e2e2;
$light-blue: #288feb;
$light-green: #28cb75;

$vending-margin: 30px;

$color-gray: #7f8c8d;
$color-white: #ecf0f1;
$color-light-blue: #19B5FE;
$color-blue: #3498db;
$color-red: #e74c3c;
$color-green: #27ae60;