@import '../../../../styles/variables.scss';
@import url(https://fonts.googleapis.com/css?family=VT323:400,300);

.help-text {
    margin-top: 0;
    min-height: 38px;
    background-color: #000;
    color: #00ff00;
    font-family: VT323, 'monospace';
    text-align: left;
}